:root {
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .solenyx-card {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .solenyx-card {
    padding: 1.5rem;
  }
}

.solenyx-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #232323;
  border-radius: 0.75rem;
  min-width: 13.75rem;
  max-width: 18.75rem;
  box-shadow: 0 0.125rem 0.75rem #0002;
  text-align: center;
  position: relative;
  cursor: pointer;

  transition: transform 0.3s cubic-bezier(.4,2,.6,1), box-shadow 0.3s cubic-bezier(.4,2,.6,1);
  will-change: transform, box-shadow;
  //margin: 1rem;
  backface-visibility: hidden;
  transform: translateZ(0);

  &:hover {
    transform: translateY(-0.75rem) scale(1.04) translateZ(0);
    box-shadow: 0 0.5rem 2rem #0006;
    z-index: 2;
  }
}

.solenyx-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  //margin: -1rem;
  gap: 1.5rem;
}